html{
	background: url("background3.jpg");
	background-size: cover;
}

h1{
	font-family: "Spectral SC", serif;
	text-align: center;
	font-size: 55px;
	color: white;
	padding: 0;
}

h3{
	font-family: "Montserrat",sans-serif;
	text-align: center;
	font-size: 30px;
}

username password{
	position: absolute;
	float: left;
}

label{
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

button{
	background-color: orchid;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	padding: 6px 12px;
	font-weight: bold;
	display: inline-block;
	border-radius: 2px;
	position: absolute;
	cursor: pointer;
}

button:hover{
	background-color: cornflowerblue;
}

.white{
	color:white;
}